body {
	background: url(images/body_bg.gif) repeat left top;
}

.head-container {
	width: 1000px;
	background-color: #fff;
	margin: auto
}

.bntop {	
	background: url(images/banner_top.png) no-repeat;
	position: relative;
	height: 174px;
}
.logo {
  background: url(images/logo.png);
  position: absolute;
	width: 100px;
	height: 100px;
	top: 15px;
	left: 20px
}
.slogan {
  background: url(images/slogan.png) no-repeat;
	position: absolute;
	width: 526px;
	height: 113px;
	top: 15px;
	left: 136px
}
.nav {

}